html {
	box-sizing: border-box;
}

* {
	&, &:before, &:after {
		box-sizing: inherit;
	}
}

html, body {
	height: 100%;
}

body {
	margin: 0;
}

.page-content {
	max-width: $page-width;
	margin: 0 auto;

	@media only screen and (min-width: $screen-size-min-s) {
		padding: 0 $column-padding;
	}

	.wrapper {
		position: relative;
	}
}

.main-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto #{-($footer-height)};
	overflow: hidden;
}

.footer-push {
	height: $footer-height;
}

.site-footer {
	height: #{$footer-height - $footer-top-margin};
	margin-top: $footer-top-margin;

	.wrapper {
		max-width: $page-width;
		margin: 0 auto;
	}

	.footer-column {
		margin: 0 $line-height;
	}
}

.site-header {
	height: $header-height;
	margin-bottom: $header-height;
}

.site-title {
	width: 5.4em;
	padding: 1.2em 0 0 0.66em;
	margin: 0 0.66em -1.5em 0;
	float: left;

	a {
		height: 0;
		padding-bottom: 44.44%;
		display: block;
		text-indent: -9999px;
		background: url('img/logo.svg') no-repeat;
		background-size: contain;
	}
}

.container {
	/* prevents flex to grow if content is too wide */
	overflow: hidden;
}

nav {
	ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

.site-nav {
	margin-left: 8em;

	ul {
		margin-left: 3em;
		display: block;
	}

	li {
		line-height: $header-height;
		display: inline-block;

		& + li {
			margin-left: 0.5em;
		}
	}

	a {
		padding: 0.2em 0.66em;
		color: lighten($text-color, 33%);
		text-decoration: none;
	}
}

.page-nav {
	width: 14rem;
	position: relative;
	z-index: 1;
	order: 2;

	ul ul {
		margin-left: 1em;
	}

	li.active {
		> a {
			color: black;
			text-decoration: none;
		}
	}

	.nav-button {
		width: 2em;
		height: 2em;
		border: 0;
		margin: 0;
		padding: 0;
		top: 0;
		right: $column-padding;
		position: absolute;
		z-index: 1;
		text-indent: -9999px;
		background: transparent url('img/nav.svg') no-repeat;
		background-size: contain;

		display: none;

		&:hover {
			background-color: transparent;
		}
	}

	.nav-toggle {
		left: -9999px;
		top: 0;
		opacity: 0;
		position: absolute;
		display: block;
	}

	.page-nav-content {
		padding-bottom: 1em;
	}
}

.page-meta-nav {
	float: right;
	padding: 1.1em 1.1em 0 0;

	li.icon {
		line-height: 2em;
		display: inline-block;

		& + li {
			margin-left: 0.66em;
		}

		a {
			font-size: 2.6em;

			.monoxidicon {
				color: rgba(48, 48, 48, 0.75);
				@include transition(color linear 0.1s);
			}

			.title {
				display: none;
			}

			&:hover {
				.monoxidicon {
					color: rgba(48, 48, 48, 1);
				}
			}
		}
	}
}

.pagination {
	order: 9999;
}

.iframe-container {
	margin: $line-height 0;

	iframe {
		width: 100%;
		border: 0;
	}
}

.resize-box {
	position: relative;
	height: 0;
	padding-bottom: 100%;

	.resize-content,
	> svg,
	> iframe {
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
	}
}

@media print {

	.site-header,
	.page-nav,
	.footer-push,
	.site-footer {
		display: none;
	}

	.page-nav + .container {
		margin-right: 0;
	}

	.page-content {
		.wrapper {
			margin: 0;
		}
	}

}
