@media only screen and (max-width: $screen-size-max-l) {

	h1 {
		font-size: 1.8em;
	}

	h2 {
		font-size: 1.6em;
	}

	h3 {
		font-size: 1.4em;
	}

	h4, h5, h6 {
		font-size: 1.2em;
	}

	.site-header {
		font-size: 0.8em;
	}

	.page-nav {
		.nav-toggle {
			&:checked ~ .page-nav-content {
				display: block;
			}

			&:checked ~ .nav-button {
				transform: rotate(90deg);
			}
		}
	}

}

@media only screen and (max-width: $screen-size-max-m) {

	.site-nav {
		ul {
			display: none;
		}
	}

	.page-nav {
		top: 0;
		left: 0;
		right: 0;
		width: auto;
		position: absolute;

		& + .container {
			margin-right: 0;

			h1 {
				padding-right: 1em;
			}
		}

		$font-zoom: 1.25em;

		.nav-button {
			display: block;
			font-size: $font-zoom;
			transition: transform ease-out 0.15s;
		}

		& > .page-nav-content {
			padding: 0 #{($column-padding / $font-zoom)}em $column-padding;
			display: none;
			background: white;
			position: relative;
			font-size: $font-zoom;
			@include box-shadow(0px, 2em, 4em, white);
		}
	}

}

@media only screen and (max-width: $screen-size-max-s) {

	html, body {
		font-size: 13px;
	}

	.page-nav {
		.nav-button {
			width: 2em;
			height: 2em;
		}

		.page-nav-content {
			display: none;
		}
	}

}
