/* @group Theme */

$header-footer-border: 2px solid rgba(0, 0, 0, 0.05);

body,
.site-header,
.site-footer,
figure {
	background: url(img/lines-gray.svg) center top fixed;
}

.color-inverted {
	color: $off-white;

	a {
		text-decoration: underline;
	}
}

.main-wrapper {
	background: white;
}

strong {
	font-weight: 600;
}

a {
	color: $link-color;
	text-decoration: none;

	&:hover {
		color: $link-hover-color;
	}

	.color-inverted & {
		color: $off-white;
	}
}

.site-header {
	border-bottom: $header-footer-border;
}

.site-footer {
	border-top: $header-footer-border;

	.wrapper {
		padding-top: 1em;
	}

	.icon {
		line-height: 2em;

		img {
			width: 1.5em;
			height: 1.5em;
			vertical-align: -0.36em;
		}
	}
}

a,
.button {
	@each $vendor in $vendors {
		#{$vendor}transition: color $transition-time;
	}
}

.button {
	color: white;
	background: $link-color;
	border-radius: 0.5em;
	padding: 0.2em 1em;
	cursor: pointer;
	border: 0;
	-webkit-appearance: none;
	appearance: none;
	display: inline-block;
	@each $vendor in $vendors {
		#{$vendor}transition: background-color $transition-time, color $transition-time;
	}

	&:hover {
		color: white;
		background-color: $link-hover-color;
	}

	&-secondary {
		background: $text-color;
	}

	.color-inverted & {
		background: $link-hover-color;

		&-secondary {
			background: $back-color;
		}
	}
}

strong .button {
	font-weight: normal;
	background-color: $back-color;

	&:hover {
		background-color: $text-color;
	}
}

.buttons {
	padding: 1em;
	background: url(img/lines-gray.svg) center top local;

	* + & {
		margin-top: $line-height;
	}
}

.buttons {
	text-align: center;

	.button {
		margin: 0.5em;
	}
}

.site-nav {
	a:hover {
		color: black;
	}

	li {
		&.current a {
			color: black;
		}
	}
}

.page-nav {
	li.current {
		a {
			color: #1e3768;
		}
	}
}

.site-title a,
.page-meta-nav .icon a {
	position: relative;

	@each $vendor in $vendors {
		#{$vendor}backface-visibility: hidden;
		#{$vendor}transition: opacity #{$header-transition-time / 2};
	}

	&:hover {
		opacity: 0.94;
		@each $vendor in $vendors {
			#{$vendor}transition: opacity $header-transition-time;
		}
	}
}

h2, h3 {
	.header-file {
		font-size: 0.8em;

		var {
			color: $link-hover-color;
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	&:target {
		background-color: #e6eaf0;
	}
}

article {
	ul {
		margin-left: 0;
		padding-left: 0.5em;
		list-style: none;
	}

	li {
		margin-left: 0;
		padding-left: 1em;
		list-style: none;
		position: relative;

		&:before {
			left: 0em;
			position: absolute;
			content: "-";
		}
	}
}

figure {
	padding: $line-height;
	background-attachment: local;
	@include box-sizing(border-box);
}

/* @end */

@media print {

	.button {
		color: $text-color;
		background: transparent;
	}

	.buttons {
		background: transparent;
	}

}
