*.a
*.cache
*.log
*.o
*.trs
*~
.DS_Store
.deps
.sass-cache
.svn
/aclocal.m4
/ar-lib
/compile
/config.guess
/config.h
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/test-driver
html
Makefile
Makefile.in
