# Send UTF-8 as default encoding for text files
AddDefaultCharset utf-8

# Content-Type and encoding
AddType font/x-woff     woff
AddType image/svg+xml   svg
AddType image/x-icon    ico
AddType audio/mp4       m4a
AddType video/mp4       mp4 m4v
AddType video/ogg       ogg ogv
AddType video/webm      webm
AddType text/plain      blip
AddType audio/wav       wav
AddType application/xml xsl

# Compression
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/css application/json
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE text/xml application/xml text/x-component
    AddOutputFilterByType DEFLATE application/xhtml+xml application/rss+xml application/atom+xml
    AddOutputFilterByType DEFLATE image/x-icon image/svg+xml application/vnd.ms-fontobject application/x-font-ttf font/opentype
</IfModule>

# Cache control
ExpiresActive On
ExpiresByType text/css        "access plus 1 month"
ExpiresByType text/javascript "access plus 1 month"
ExpiresByType image/x-icon    "access plus 1 month"
ExpiresByType image/jpeg      "access plus 1 week"
ExpiresByType image/gif       "access plus 1 week"
ExpiresByType image/png       "access plus 1 week"
ExpiresByType image/svg+xml   "access plus 1 week"
ExpiresByType text/html       "access plus 4 hour"

# Options
Options +FollowSymlinks

# Error Documents
ErrorDocument 404 /errors/404/
ErrorDocument 403 /errors/403/
ErrorDocument 500 /errors/500/

# Rewrites
RewriteEngine On

# Rewrite TLD to .net
RewriteCond %{HTTP_HOST} ((.*\.)?monoxid)\.ch$
RewriteRule (.*) https://%1.net/$1 [R=permanent,L,QSA]
