div.fragment {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcgdmVyc2lvbj0iMS4xIiB3aWR0aD0iNDhweCIgaGVpZ2h0PSI0OHB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgoJPHBhdGggZmlsbD0iI2Y1ZjVmNSIgZD0iTTE2IDQgTDE2IDggOCAwIDEyIDB6IE0xNiAxMiAxNiAxNiAwIDAgNCAweiBNMTIgMTYgOCAxNiAwIDggMCA0eiBNNCAxNiAwIDE2IDAgMTJ6Ij48L3BhdGg+Cjwvc3ZnPg==) center top local;
	-webkit-overflow-scrolling: touch;
	font-size: 0.9em;
	white-space: pre;
	word-wrap: normal;
	-o-tab-size: 4;
	-moz-tab-size: 4;
	tab-size: 4;
	padding: $line-height;
	overflow: auto;
	border: none;
}

span.comment {
	color: #808080;
}

div.line {
	font: $code-font;
	font-style: normal;
	white-space: nowrap;
}

.params .paramdir {
	font: $code-font;
}

@media print {

	div.fragment {
		background: transparent;
		padding-top: 0;
		padding-bottom: 0;
	}

}
