body,
table,
div,
p,
dl,
.icon {
	font: $body-font;
}

body {
	line-height: normal;
}

.div.contents {
	margin: 1em;
}

.title,
table.directory,
#projectname,
#projectbrief,
#projectnumber,
div.toc li,
div.toc h3,
#powerTip div {
	font-family: open-sans, "Helvetica Neue", sans-serif;
	line-height: normal;
}

pre.fragment,
div.line,
.params .paramdir {
	font-family: $code-font;
}

.title,
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	margin: 2em 0 1em;
}

p, ul, ol {
	margin: 1.4em 0;
}

.div.directory {
	margin: 1em 0;
}

td, th {
	padding: 0.33em !important;
}

div.line {
	margin-left: -0.66em; // Remove single space

	&:after {
		display: none;
	}
}

span.lineno {
	display: none;
}

div.contents {
	margin: $line-height;
}

address.footer {
	margin-bottom: 0.5em;
}
