$vendors: "-moz-", "-webkit-", "";

/* Convenient */

@mixin font-rendering {
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin clearfix {
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

@mixin display-inline {
	display: inline-block;
}

@mixin background-resizable($url, $size...) {
	background-image: url($url);
	@if $size {
		@each $vendor in $vendors {
			#{$vendor}background-size: $size;
		}
		background-repeat: no-repeat;
	}
}

@mixin full-background() {
	@each $vendor in $vendors {
		#{$vendor}background-size: 100%;
	}
}

@mixin opacity($opacity) {
	opacity: $opacity;
}

/* @end */

/* @group CSS3 */

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
	@each $vendor in $vendors {
		@if $inset {
			#{$vendor}box-shadow: inset $top $left $blur $color;
		} @else {
			#{$vendor}box-shadow: $top $left $blur $color;
		}
	}
}

@mixin rounded($radius: 0.5em) {
	@each $vendor in $vendors {
		#{$vender}border-radius: $radius;
	}
}

@mixin gradient-single($from, $to) {
	background: $from; /* Old browsers */
	background: -moz-linear-gradient(top, $from 0%, $to 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $from), color-stop(100%, $to)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $from 0%, $to 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $from 0%, $to 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $from 0%, $to 100%); /* IE10+ */
	background: linear-gradient(to bottom, $from 0%, $to 100%); /* W3C */
}

@mixin transition-single($value: all, $time: 0.5s) {
	@each $vendor in $vendors {
		#{$vendor}transition: $value $time;
	}
}

@mixin transition($value...) {
	@each $vendor in $vendors {
		#{$vendor}transition: $value;
	}
}

@mixin transform($value...) {
	@each $vendor in $vendors {
		#{$vendor}transform: $value;
	}
}

@mixin backface-visibility($value) {
	@each $vendor in $vendors {
		#{$vendor}backface-visibility: $value;
	}
}

@mixin box-sizing($value) {
	-moz-box-sizing: $value;
	box-sizing: $value;
}

/* @end */
