body,
button,
input,
select,
textarea {
	font: $body-font;
	color: $text-color;
	@include font-rendering();
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
	font-weight: normal;
}

h1 {
	margin-top: #{$line-height / 3};
	font-size: 2.4em;
}

h2 {
	margin-top: #{$line-height / 1.6};
	font-size: 2.1em;
}

h3 {
	margin-top: #{$line-height / 1.8};
	font-size: 1.8em;
}

h4 {
	margin-top: #{$line-height / 1.2};
	font-size: 1.2em;
}

p, ol, ul, blockquote, pre, .paragraph {
	line-height: $line-height;
	margin-top: $line-height;
	margin-bottom: 0;
}

pre, code, var {
	font: $code-font;
}

em, i, cite, dfn {
	font-style: italic;
	font-weight: normal;
}

address {
	font-style: normal;
	font-weight: normal;
}

strong {
	code, var {
		font-weight: bold;
	}
}

dl, menu, ol, ul {
	margin: $line-height 0;
}

dt {
	margin-bottom: #{$line-height / 2};
}

dd {
	margin-left: 2em;

	& + dt {
		margin-top: $line-height;
	}

	& > p:first-child {
		margin-top: 0;
	}
}

img {
	border: 0;
}

input[type=submit],
input[type=button],
input[type=reset],
button {
	cursor: pointer;
}

div.header {
	border-bottom: 0;
	background: none;
}

div.headertitle {
	padding: 0 $line-height;
}

.title {
	margin: ($line-height * 0.75) 0;
	font-size: 2.4em;
}

@media print {

	html, body, button, input, textarea {
		font: $print-font;
	}

}
