@import url(https://monoxid.net/static/fonts/open-sans/basic.css);
@import url(https://monoxid.net/static/fonts/fira-mono/monospace.css);
@import url(https://monoxid.net/static/fonts/monoxid-icons/all.css);

$line-height: 1.66em;
$code-line-height: 1.33em;
$body-font: normal 13pt open-sans, "Helvetica Neue", sans-serif;
$code-font: normal #{0.95em}/#{$code-line-height} "fira-mono", "Andale Mono", Consolas, monospace;
$print-font: normal normal 8pt open-sans, "Helvetica Neue", sans-serif;
$text-color: #202020;
$back-color: #404040;
$link-color: #6080c0;
$link-hover-color: #294b8f;

$page-width: 60em;
$header-height: 4.4em;
$footer-height: 9.4em;
$footer-top-margin: 5em;

$small-screen-width: #{$page-width * 0.75};

$transition-time: 0.1s;
$header-transition-time: 0.5s;

@import '_mixins';
@import '_typography';
@import '_code';
@import '_main';
