@import url(https://monoxid.net/static/fonts/open-sans/basic.css);
@import url(https://monoxid.net/static/fonts/fira-mono/monospace.css);
@import url(https://monoxid.net/static/fonts/monoxid-icons/all.css);
/* Convenient */
/* @end */
/* @group CSS3 */
/* @end */
body,
button,
input,
select,
textarea {
  font: normal 13pt open-sans, "Helvetica Neue", sans-serif;
  color: #202020;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  font-weight: normal; }

h1 {
  margin-top: 0.55333em;
  font-size: 2.4em; }

h2 {
  margin-top: 1.0375em;
  font-size: 2.1em; }

h3 {
  margin-top: 0.92222em;
  font-size: 1.8em; }

h4 {
  margin-top: 1.38333em;
  font-size: 1.2em; }

p, ol, ul, blockquote, pre, .paragraph {
  line-height: 1.66em;
  margin-top: 1.66em;
  margin-bottom: 0; }

pre, code, var {
  font: normal 0.95em/1.33em "fira-mono", "Andale Mono", Consolas, monospace; }

em, i, cite, dfn {
  font-style: italic;
  font-weight: normal; }

address {
  font-style: normal;
  font-weight: normal; }

strong code, strong var {
  font-weight: bold; }

dl, menu, ol, ul {
  margin: 1.66em 0; }

dt {
  margin-bottom: 0.83em; }

dd {
  margin-left: 2em; }
  dd + dt {
    margin-top: 1.66em; }
  dd > p:first-child {
    margin-top: 0; }

img {
  border: 0; }

input[type=submit],
input[type=button],
input[type=reset],
button {
  cursor: pointer; }

div.header {
  border-bottom: 0;
  background: none; }

div.headertitle {
  padding: 0 1.66em; }

.title {
  margin: 1.245em 0;
  font-size: 2.4em; }

@media print {
  html, body, button, input, textarea {
    font: normal normal 8pt open-sans, "Helvetica Neue", sans-serif; } }
div.fragment {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcgdmVyc2lvbj0iMS4xIiB3aWR0aD0iNDhweCIgaGVpZ2h0PSI0OHB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgoJPHBhdGggZmlsbD0iI2Y1ZjVmNSIgZD0iTTE2IDQgTDE2IDggOCAwIDEyIDB6IE0xNiAxMiAxNiAxNiAwIDAgNCAweiBNMTIgMTYgOCAxNiAwIDggMCA0eiBNNCAxNiAwIDE2IDAgMTJ6Ij48L3BhdGg+Cjwvc3ZnPg==) center top local;
  -webkit-overflow-scrolling: touch;
  font-size: 0.9em;
  white-space: pre;
  word-wrap: normal;
  -o-tab-size: 4;
  -moz-tab-size: 4;
  tab-size: 4;
  padding: 1.66em;
  overflow: auto;
  border: none; }

span.comment {
  color: #808080; }

div.line {
  font: normal 0.95em/1.33em "fira-mono", "Andale Mono", Consolas, monospace;
  font-style: normal;
  white-space: nowrap; }

.params .paramdir {
  font: normal 0.95em/1.33em "fira-mono", "Andale Mono", Consolas, monospace; }

@media print {
  div.fragment {
    background: transparent;
    padding-top: 0;
    padding-bottom: 0; } }
body,
table,
div,
p,
dl,
.icon {
  font: normal 13pt open-sans, "Helvetica Neue", sans-serif; }

body {
  line-height: normal; }

.div.contents {
  margin: 1em; }

.title,
table.directory,
#projectname,
#projectbrief,
#projectnumber,
div.toc li,
div.toc h3,
#powerTip div {
  font-family: open-sans, "Helvetica Neue", sans-serif;
  line-height: normal; }

pre.fragment,
div.line,
.params .paramdir {
  font-family: normal 0.95em/1.33em "fira-mono", "Andale Mono", Consolas, monospace; }

.title,
h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  margin: 2em 0 1em; }

p, ul, ol {
  margin: 1.4em 0; }

.div.directory {
  margin: 1em 0; }

td, th {
  padding: 0.33em !important; }

div.line {
  margin-left: -0.66em; }
  div.line:after {
    display: none; }

span.lineno {
  display: none; }

div.contents {
  margin: 1.66em; }

address.footer {
  margin-bottom: 0.5em; }
