<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

	<body>

		<div class="main-wrapper">

			{% include header.html %}

			<div class="page-content">
				<div class="wrapper">
					{{ content }}
				</div>
			</div>

			<div class="footer-push"></div>
		</div>

		{% include footer.html %}

		<!-- Piwik -->
		<script src="{{ "/js/piwik.js" | prepend: site.baseurl }}"></script>
		<noscript><p><img src="https://monoxid.net/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
		<!-- End Piwik Code -->

	</body>
</html>
